/* 
 * https://github.com/janraasch/hugo-bearblog/blob/master/layouts/partials/style.html
 */
:root {
  --width: 720px;
  --font-main: Verdana, sans-serif;
  --font-secondary: Verdana, sans-serif;
  --font-scale: 0.9em;
  --background-color: #fff;
  --heading-color: #222;
  --text-color: #444;
  --link-color: #3273dc;
  --visited-color: #8b6fcb;
  --blockquote-color: #222;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0f0f0f;
    --heading-color: #eee;
    --text-color: #ddd;
    --link-color: #fe8019;
    --visited-color: #8b6fcb;
    --blockquote-color: #ccc;
  }
}

/* Manual light mode */
.theme-light {
  --background-color: #fff;
  --heading-color: #222;
  --text-color: #444;
}

/* Manual dark mode */
.theme-dark {
  --background-color: #01242e;
  --heading-color: #eee;
  --text-color: #ddd;
}

body {
  font-family: var(--font-secondary);
  font-size: var(--font-scale);
  margin: auto;
  padding: 20px;
  max-width: var(--width);
  text-align: left;
  background-color: var(--background-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: var(--text-color);
}

.article-container pre {
  padding: 0.8rem;
  border-radius: 8px;
}

.article-container blockquote {
  padding-left: 1rem;
  border-left: 4px solid #dee2e6;
  color: #555;
}

a:visited {
  color: var(--visited-color);
}

a {
  color: var(--link-color);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
